* {
    box-sizing: border-box;
  }

  body {
    background-color: white;
    font-family: 'Lexend', sans-serif;
    color:gray; 
    overflow-x: hidden !important;
  }

  .container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

  .title-background {
    background-color: #ABD2FF;
  }

  .section-background {
    background-color: #ABD2FF;
    border-width: 2px;
    border-color: #D9D9D9;
  }

  .section-line {
    border-width: 2px;
    border-color: #D9D9D9;
  }
  
  .responsive { /* makes elements, resize responsively,*/
    max-width:100%;
    max-height:100%;
  }
  
  .center { /*centers an element*/
    position: relative;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, 0%);
  }
  
  .main {
    float: center;
    background-color: #f3d4d4;
    width: 60%;
    padding: 10px;
    margin: auto;
    text-align: center;
  }

  .logo-center {
    position: relative;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, 50%);
  }

  .logo-text {
    position: relative;
    top: 50%;
    left: 50%; 
    color: black;
    font-family: 'Lexend';
    font-size: 30px;
    font-weight: bold;
    transform: translate(-50%, 350%);
  }

  .amount-change {
    background-color: #D9D9D9;
    border-width: 2px;
    border-color: #D9D9D9;
  }

  .are-you-sure {
    background-color: #F34B50;
    border-width: 2px;
    border-color: #D9D9D9;
  }

  .are-you-sure-text {
    color: white;
  }

  .scrolling-wrapper{
    overflow-x: auto;
  }

  .title {
    font-family: 'Lexend';
    text-align: left;
    color: black;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
  }

  .subtitle {
    font-family: 'Lexend';
    text-align: left;
    color: black;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
  }

  .title-gray {
    font-family: 'Lexend';
    text-align: left;
    color: gray;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
  }

  .subtitle-gray {
    font-family: 'Lexend';
    text-align: left;
    color: gray;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
  }

  .text-black-bold {
    color: black;
    font-size: 16px;
    font-weight: bold;
  }

  .text-black {
    color: black;
    font-size: 16px;
  }

  .text-gray {
    color: gray;
    font-size: 16px;
  }

  .food-item {
    position: relative;
    max-width: 100%;
    max-height: 100%;
  }

  .food-name {
    font-family: 'Lexend';
    text-align: left;
    color: black;
    font-size: 16px;
  }

  .food-amount {
    font-family: 'Lexend';
    text-align: left;
    color: gray;
    font-size: 16px;
  }

  .nutrition-name {
    font-family: 'Lexend';
    text-align: left;
    color: black;
    font-size: 16px;
  }

  .nutrition-amount {
    font-family: 'Lexend';
    text-align: left;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }

  .axis-value {
    font-family: 'Lexend';
    color: gray;
    font-size: 10px;
  }

  .axis {
    position: relative;
    max-width: 100%;
    max-height: 100%;
  }

  .axis-pointer {
    max-width: 1.5em;
    height: auto;
    width: auto\9;
  }

  .value-highlight-right {
    background-color: #0A8B36;
    border-radius: 25px;
    transform: translate(-165%);
    z-index:-1;
  }

  .value-highlight-wrong {
    background-color: #F34B50;
    border-radius: 25px;
    transform: translate(-165%);
    z-index:-1;
  }

  .loading {
    width: 3rem;
    height: 3rem;
    top: 50%;
    left: 50%; 
  }
  
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }